@font-face {
    font-family: Abril-FatFace;
    src: url(./fonts/AbrilFatface-Regular.ttf)
    format("opentype");
}

@font-face {
    font-family: Times-Bold;
    src: url(./fonts/Times\ New\ Roman\ Bold.ttf)
    format("opentype");
}

@font-face {
    font-family: Times-Italic;
    src: url(./fonts/Times\ New\ Roman\ Italic.ttf)
    format("opentype");
}

@font-face {
    font-family: Times-Regular;
    src: url(./fonts/Times\ New\ Roman.ttf)
    format("opentype");
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #FFEBBB;
}

*{
	overflow-x: hidden;
}

h1{
    overflow-y: hidden;
    font-family: Abril-Fatface;
    color: #F4A0A7;
    font-size: 80px;
}

h2{
    font-family: Times-Italic;
    color: #F4A0A7;
    font-size: 40px;
}

h3{
    font-family: Times-Regular;
    color: #F4A0A7;
}

h4{
    font-family: Times-Regular;
    color: #F4A0A7;
}
hr{
    padding-left: 0px !important;
    margin: 0px !important;
    background-color: #F4A0A7;
    
    border-left:    0px solid hsla(200, 10%, 50%,100);
    height:         18vh;
    width:          1px;  
    margin-bottom: 20px !important;
    
}
button{
    background-color: #F4A0A7;
    color: #FFEBBB;
    border-color: #F4A0A7;
    font-family: Times-Italic;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-style: solid;
    margin-top: 50px;
}

.follow{
    font-family: Times-Regular;
    color: #F4A0A7;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #F4A0A7;
}

a:hover{
    text-decoration: none;
    color: #F4A0A7;
}

.follow hr{
    
    background-color: #F4A0A7;
    
    border-left:    0px solid hsla(200, 10%, 50%,100);
    height:         5vh;
    width:          1px;  
    margin-bottom: 20px !important;
}
.social-icons{
    width: 30px;
}

@media only screen and (max-width: 500px){
    *{
        overflow-x: hidden;
    }
    h1{
        font-size: 65px !important;
    }
    h2{
        font-size: 30px !important;
    }
    h3{
        font-size: 25px !important;
    }
    h4{
        font-size: 20px !important;
        margin-bottom: 30px ;
    }
    hr{
        /*visibility: hidden !important;*/
        display: none; 
        padding-left: 0px !important;
        margin: 0px !important;
        
        background-color: #F4A0A7;
        
        
    }
    button{
        font-size: 20px !important;
    }
    #header img{
        width: 200px !important;
    }
    .social-icons{
        width: 25px;
    }
}